@import "tailwindcss";

::-webkit-scrollbar {
  display: none;
}
.animate-fade-in {
  animation: fadein 0.6s ease forwards;
}

@keyframes fadein {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.input {
  @apply px-4 py-3 rounded-xl bg-black/20 border border-white/10
         focus:border-purple-600 outline-none transition w-full;
}